<%= form_for(@statistic) do |f| %>
  <% if @statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statistic.errors.count, "error") %> prohibited this statistic from being saved:</h2>

      <ul>
      <% @statistic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_id %><br />
    <%= f.number_field :page_id %>
  </div>
  <div class="field">
    <%= f.label :fetch_date %><br />
    <%= f.date_select :fetch_date %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.number_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.number_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :linkedin %><br />
    <%= f.number_field :linkedin %>
  </div>
  <div class="field">
    <%= f.label :gplus %><br />
    <%= f.number_field :gplus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
