<% content_for :title do "#{@website.name} | SocialMonitor" end-%>
<h1>Social media performance of <%= @website.name %></h1>
<div class="container-fluid">
	<div style="clear:both;" class="well well-large">
		With <strong><%= pluralize(@website.page_cnt, "page") %></strong> took <strong><%= @website.name %></strong> part in the following number of interactions.
	</div>
	<div class="row-fluid badges">
		<div class="span3 facebook">
			<h2>facebook</h2>
			<h3><%= @website.facebook %></h3>
		</div>
		
		<div class="span3 twitter">
			<h2>twitter</h2>
			<h3><%= @website.twitter %></h3>
		</div>
		
		<div class="span3 gplus">
			<h2>Google+</h2>
			<h3><%= @website.gplus %></h3>
		</div>
		
		<div class="span3 linkedin">
			<h2>LinkedIn</h2>
			<h3><%= @website.linkedin %></h3>
		</div>
	</div>
	<% if @stats.size > 1 -%>
	<div class="row-fluid">
		    <script type="text/javascript">
		      google.setOnLoadCallback(drawChart);
		      function drawChart() {
		        var data = google.visualization.arrayToDataTable([
		          ['Date', 'Facebook', 'Twitter', 'Google+', 'LinkedIn'],
				  <% @stats.each do |k,v| -%>
				  ['<%= k %>', <%= v[:facebook] %>, <%= v[:twitter] %>, <%= v[:gplus] %>, <%= v[:linkedin] %>],
				  <% end -%>
		        ]);

		        var options = {
				  curveType: 'function',
				  colors: ['#3b5998', '#9AE4E8', '#C63D2D', '#4875B4']
		        };

		        var chart = new google.visualization.LineChart(document.getElementById('websitesGraph'));
		        chart.draw(data, options);
		      }
		    </script>
		<div class="span12" id="websitesGraph" style="height: 250px;">
		</div>
	</div>
	<% end -%>
</div>