<h1>Social media performance of <%= @website.name %></h1>
<div class="container-fluid">
	<div style="clear:both;" class="well well-large">
		With <strong><%= pluralize(@website.page_cnt, "page") %></strong> took <strong><%= @website.name %></strong> part in the following number of interactions.
	</div>
	<div class="row-fluid badges">
		<div class="span3 facebook">
			<h2>facebook</h2>
			<h3><%= @website.facebook %></h3>
		</div>
		
		<div class="span3 twitter">
			<h2>twitter</h2>
			<h3><%= @website.twitter %></h3>
		</div>
		
		<div class="span3 gplus">
			<h2>Google+</h2>
			<h3><%= @website.gplus %></h3>
		</div>
		
		<div class="span3 linkedin">
			<h2>LinkedIn</h2>
			<h3><%= @website.linkedin %></h3>
		</div>
	</div>
</div>